enable=all
source-path=SCRIPTDIR
disable=SC2154

disable=SC1003 # Want to escape a single quote? echo 'This is how it'\''s done'.
disable=SC2250 # Prefer putting braces around variable references even when not strictly required
disable=SC2312 # Consider invoking this command separately to avoid masking its return value (or use '|| true' to ignore).
disable=SC2249 # Consider adding a default *) case, even if it just exits with error.
