golang     1.22.0 # datasource=github-releases depName=golang/go
goreleaser 1.24.0 # datasource=github-releases depName=goreleaser/goreleaser
opentofu   1.7.2 # datasource=github-releases depName=opentofu/opentofu
terraform  1.8.5 # datasource=github-releases depName=hashicorp/terraform
