golang 1.21.1 # datasource=github-releases depName=golang/go
goreleaser 1.21.2 # datasource=github-releases depName=goreleaser/goreleaser
terraform 1.6.2 # datasource=github-releases depName=hashicorp/terraform
